CELERY_BROKER_URL=

CELERY_RESULT_BACKEND=

REDIS_URL=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

WEBHOOK_SECRET=

WEBHOOK_URL=

DEBUG=
ALLOWED_HOSTS=

SECRET_KEY=

DEBUG=